@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  border: 0;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/background-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: hsl(275, 100%, 97%);
}

@media (max-width: 768px) {
  body{
    
    background-image: url('./assets/images/background-pattern-mobile.svg');
  }
}